body{
    text-align: center;
    margin-top: 20%;
    background-color: white;
    color: black;
}

body.night-mode{
    background-color: black;
    color: white;
}

button{
    padding: 10px;
    width: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
}

button.day-mode{
    background-color: white;
    color: black;
}